.quiz-section {

  .title-header {
    margin-bottom: 100px;
  }

  .quiz-inner {
    width: 100%;
  }

  .quiz-wrapper {
    width: 100%;

    form {
      width: 100%;
    }
  }


  .quiz-steps-progress {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
    color: $--color-red;
    margin-bottom: 15px;
  }

  .quiz-item-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 20px;
  }





  .quiz-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .quiz-item-content {
    width: 50%;
  }

  .quiz-item-image {
    margin-top: -180px;
    width: 50%;

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }


  label {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-black;
  }

  .quiz-input-radio {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .quiz-input-radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .quiz-input-radio input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  .quiz-input-radio input+label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #231F20;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
  }

  .quiz-input-radio input:checked+label::before {
    background-image: url(../img/icons/checkbox-checked.svg);
  }
}

