.apply-section {
  background-color: $--color-red;
  padding: 66px 0;
  margin: 150px 0;

  .widget {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
  }

  .btn {
    margin-left: 45%;
  }

  .widgettitle {
    color: $--color-white;
    font-weight: 700;
    width: 45%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
    padding-right: 30px;
  }

  .textwidget {
    padding: 18px 0 0 0!important;
    margin-bottom: 30px;
    display: inline-block;
    width: 55%;
    white-space: initial;


    p {
      color: $--color-white;
    }
  }

}

@media (max-width: 1024px) {
  .apply-section  {
    margin: 100px 0;

    .widget {
      flex-wrap: wrap;
    }

    .h4 {
      max-width: 100%;
    }

    .widgettitle {
      width: 100%;
      max-width: 100%;

      br {
        display: none;
      }
    }

    .textwidget {
      width: 100%;
      padding: 40px 0 0 0!important;
      margin-bottom: 26px;

      p {
        max-width: 75%;
      }
    }

    .btn {
      margin-left: 0;
      max-width: 335px;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .apply-section {
    padding: 40px 0;
    margin: 80px 0;

    .widgettitle {
      font-size: 40px;
      line-height: 40px;
    }

    .textwidget {
      padding: 30px 0 0 0!important;
      margin-bottom: 30px;

      p {
        max-width: 100%;
      }
    }
    .btn {
      width: fit-content;
    }
  }
}

@media (max-width: 370px) {
  .apply-section .widgettitle {
    font-size: 34px;
    line-height: 34px;
  }
}