.banner-image-section {
  width: 100%;

  .container {
    position: relative;
  }

  .banner-image {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    background-image: url(../img/image-banner-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    .title {
      font-size: 30px;
      font-weight: 300;
      line-height: 40px;
      letter-spacing: 1px;
      color: $--color-black;
      text-align: center;
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 16px;
      color: $--color-black;
      font-weight: 300;
      text-align: center;
      margin-bottom: 10px;
    }

    .description {
      margin-bottom: 20px;

      p {
        font-weight: 700;
        font-size: 26px;
        color: $--color-black;
        text-align: center;
        letter-spacing: 1px;
      }
    }

    .second-description {

      p {
        font-size: 16px;
        color: $--color-black;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.5px;
      }
    }

  }
}

@media (max-width: 1024px) {

  .banner-image-section {

    .banner-image {
      background-size: 1400px;
      background-color: #f2f0f1;
      background-position: 100% 100%;
    }
  }
}


@media (max-width: 940px) {
  .banner-image-section {

    .banner-image {
      background-size: 1100px;
    }
  }
}


@media (max-width: 600px) {
  .banner-image-section {


    .banner-image {
      height: 520px;
      background-position: 92% 100%;
      background-size: 1100px;
      align-items: flex-start;
      padding: 0;

      .banner-content {
        display: flex;
        flex-direction: column;
        height: inherit;
        padding: 40px 24px;
      }

      .title {
        text-align: start;
        margin-bottom: 10px;
        line-height: 30px;

        p {
          line-height: 16px;
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 10px;
          display: inline;
        }
      }

      .subtitle {
        text-align: start;
      }

      .description {
        margin-top: auto;

        p {
          text-align: start;
          font-size: 20px;
          max-width: 70%;
        }
      }

      .second-description {

        p {
          text-align: start;
          max-width: 60%;
        }
      }

    }
  }
}