.list-section-w-image {

  .title-wrapper {
    margin-bottom: 45px;
  }

  .list-item {

    .list-item-image {


      img {
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
    }

    .list-item-title {
      font-size: 36px;
      font-weight: 500;
      line-height: 34px;
      color: $--color-black;
      margin-bottom: 32px;
    }

    ul {
      list-style: disc;
      padding-left: 20px;

      li {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $--color-black;

        &::marker {
          color: $--color-red;
        }

        &:not(:last-of-type) {
          margin-bottom: 12px;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 1024px) {
  .list-section-w-image {

    .title-wrapper {
      margin-bottom: 40px;
    }

    .list-item {

      .list-item-title {
        font-size: 28px;
      }

      .list-item-image {

        img {
          height: 160px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .list-section-w-image {

    .title-wrapper {
      margin-bottom: 30px;
    }

    .list-item {

      .col-m-12:nth-of-type(2) {
        order: -1;
      }

      .list-item-image {
        margin-bottom: 20px;
        img {
          height: 200px;
        }
      }

      .list-item-title {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 14px;
      }

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

    }

  }
}