.request-section {
  position: relative;
  background: linear-gradient(0deg, rgb(75 128 178 / 0.6), rgba(75, 128, 178, 0.45));

  h2 {
    color: $--color-white;
    font-weight: 700;
    max-width: 60%;
  }

  .request-image {

    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .request-image-mobile {
    display: none;
  }

  .request-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 80px 88px 85px;
    width: 100%;
    position: relative;
    height: 278px;
    z-index: 1;
  }

  .background-request {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .background-request-tablet {
    display: none;
  }

  .background-request-mobile {
    display: none;
  }

}

@media (max-width: 1024px) {
  .request-section {

    .background-request-pc {
      display: none;
    }

    .background-request-tablet {
      display: block;
    }

    h2 {
      font-size: 50px;
      line-height: 50px;
      max-width: 54%;
    }

    .request-block {
      padding: 46px 46px 46px 30px;
      background-position: 64% 100%;
      background-size: cover;
    }

  }
}

@media (max-width: 600px) {

  .request-section {
    background: none;

    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 40px;
    }

    .btn-circle {
      width: 100%;
      height: 50px;
      min-width: initial;
      min-height: initial;
      border-radius: 50px;
    }
    .btn-circle-arrow {
      flex-direction: row;

      &:before {
        margin-bottom: 0;
        order: 1;
        margin-left: 10px;
      }
    }

    .request-block {
      height: 452px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 35px 20px;
    }

    .request-image-pc {
      display: none;
    }

    .request-image-mobile {
      display: block;

      img {
        left: 0;
        right: unset;
        width: 100%;
      }
    }

    .background-request-tablet {
      display: none;
    }

    .background-request-mobile {
      display: block;
    }
  }



}
