<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>



<%= _.template(require('../includes/blocks/list-block-w-image.html').default)({}) %>


<section class="partners-section">
    <div class="container">
        <div class="title-wrapper">
            <h2>Istituto Marangoni Miami
                <strong>Partnerships</strong>
            </h2>
        </div>
        <div class="partners-grid">
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
            <div class="partner-block">
                <img src="/img/prada-logo.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-m-12 justify-center d-flex">
                <a class="btn btn-red btn-arrow" href="#">download program brochure</a>
            </div>
        </div>
    </div>
</section>

<section class="request-section margin-control">
    <div class="container">
        <div class="request-block">
            <h2>Join The Miami Fashion Movement</h2>
            <a class="btn btn-circle btn-circle-arrow" href="#">request info</a>
        </div>
        <div class="request-image request-image-pc">
            <img src="./img/request-back.png" alt="">
        </div>
        <div class="request-image request-image-mobile">
            <img src="./img/request-back-mobile.png" alt="">
        </div>
    </div>
</section>


<footer class="footer-landing">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__contacts" id="contacts">
            </div>
            <div class="footer__info">
                <div class="footer__title"> LA ESCUELA DE MODA Y DISEÑO DE MIAMI </div>
                <div class="footer__text text text--small"> La visión de Istituto Marangoni Miami es estar siempre en el centro del estilo, impulsar las ambiciones y sueños de los estudiantes a través de la creatividad y la innovación, apoyar a las industrias creativas en todo el mundo, y proporcionar un enfoque sólido y multidisciplinario en la educación, la investigación y las soluciones empresariales en el mundo de la Moda y el Diseño. <br /><br />
                    <a href="https://www.istitutomarangonimiami.com/landing/privacy-policy.php" style="color: #b2b3b7;">Privacy Policy</a>.</div>
            </div>
        </div>
    </div>
</footer>