<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>


<section class="single-event-section">
    <div class="container">
        <div class="title-block">
            <div class="date">November 16 2024</div>
            <h1>Open Day Milano Fashion</h1>
        </div>
        <div class="single-event-image">
            <img src="./img/student-work-img.png" alt="">
        </div>
        <ul class="single-event-data">
            <li class="single-event-item">
                <strong>Date:</strong> November 16, 2024
            </li>
            <li>
                <strong>Time:</strong>
                12:00 - 17:00 (GMT+1)
            </li>
            <li>
                <strong>Venue:</strong>
                Milano The School of Fashion
            </li>
            <li>
                <strong>Recommended for:</strong>
                undergraduate and graduate students
            </li>
            <li>
                <strong>Registration: </strong>
                open until November 6, 2024.
            </li>
        </ul>
        <div class="single-event-buttons">
            <a class="btn btn-red" href="#">Register now</a>
            <a class="btn btn-black" href="#">Share</a>
        </div>
    </div>
</section>

<section class="about-event-section">
    <div class="container">
        <div class="title-block">
            <h2>About event</h2>
        </div>
        <div class="description">
            <p>VISIT THE SCHOOL OF FASHION IN MILAN</p>
            <p>Register now and take part in the Open Day. Discover the school and our Undergraduate and Postgraduateprogrammes in Fashion Design, Fashion Business and Fashion Styling, and Fragrances & Cosmetics.</p>
            <p>The event will be held at the prestigious school of Istituto Marangoni Milano Fashion.</p>
        </div>
    </div>
</section>



