<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>


<section class="page-banner" >
    <div class="container">
        <div class="page-banner-wrapper" style="background-image: url(./img/undergraduate-back.png)">
            <h1 class="h2">
                Students
                <b>work</b>
            </h1>
        </div>
    </div>
</section>


<section class="work-cards-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work-cards-big-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-m-12">
                <div class="work-car-big">
                    <div class="work-card-image">
                        <img src="./img/studen-work-img.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-m-12">
                <div class="work-car-big">
                    <div class="work-card-image">
                        <img src="./img/studen-work-img.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work-cards-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-m-12">
                <div class="work-card">
                    <div class="work-card-image">
                        <img src="./img/gallery-img7.png" alt="">
                    </div>
                    <a href="#" class="work-card-title">A collection for lovers of Domino style</a>
                    <div class="work-card-tag">Name of Program</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="student-works-section">
    <div class="container">
        <div class="description">
            <p>
                Our school believes in hands-on learning and the importance of building a professional portfolio right from day one. Our students engage in extracurricular activities that go beyond classroom walls, immersing themselves in a vibrant community that extends to the heart of the fashion and design industry.
            </p>
            <p>
                With strong industry connections, our students collaborate with luxury houses, industry experts, and participate in hands-on projects as part of their coursework. From fashion photography and videography to creative direction, fashion weeks, and design competitions, our students gain invaluable industry experience. Armed with confidence and a robust portfolio developed through classroom and real-world experiences, our graduates are well-prepared to thrive in the professional environment.
            </p>
            <p>
                Our school believes in hands-on learning and the importance of building a professional portfolio right from day one. Our students engage in extracurricular activities that go beyond classroom walls, immersing themselves in a vibrant community that extends to the heart of the fashion and design industry.
            </p>
            <p>
                With strong industry connections, our students collaborate with luxury houses, industry experts, and participate in hands-on projects as part of their coursework. From fashion photography and videography to creative direction, fashion weeks, and design competitions, our students gain invaluable industry experience. Armed with confidence and a robust portfolio developed through classroom and real-world experiences, our graduates are well-prepared to thrive in the professional environment.
            </p>
        </div>
    </div>
</section>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>